.logo {
  text-align: center;
  padding-top: 30px;
}

#talk {
  margin-top: 30px;
}

#sign-in-button {
  margin-top: 150px;
}

.container {
  width: 300px;
}

.to-other-page{
  text-decoration: none;
  color: gray;
}

#sign-in-button a{
  color: white;
}