.container {
  width: 300px;
}

.card-text {
  height: 200px;
}

.card {
  margin-top: 30px;
  margin-bottom: 10px;
}

#flag {
  float: right;
}

#phrase-box {
  display: flex;
  justify-content: center;

}


a {
  color: black;
}

a:hover {
  color: red;
}