body {
  text-align: center;
}

a {
  color: white;
  text-decoration: none;
}

#conversation-link:hover {
  color: black;
}

#profile-picture {
  text-align: center;
  margin-top: 10px;
}

#about {
  margin-top: 30px;
  text-align: left;
}



#save-button {
  margin-top: 10px;
}